In [55]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, PolynomialFeatures
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [56]:
data = pd.read_csv('Features.csv')
data.head()

,N total,Mean,Standard Deviation,SE of mean,Variance,Skewness,Kurtosis,Coefficient of Variation,Mean absolute Deviation,Mode,Harmonic Mean,Median,Flowrate
0,40001,2.988890,0.112882,0.000564,0.012742,2.515207,10.459889,0.037767,0.070676,2.959532,2.984968,2.959532,L
1,40001,2.992975,0.110564,0.000553,0.012224,2.621947,10.901485,0.036941,0.068431,2.959532,2.989225,2.959532,Leakages
2,40001,2.994869,0.111194,0.000556,0.012364,2.622178,10.918732,0.037128,0.068784,2.959532,2.991081,2.959532,L
3,40001,2.997241,0.112246,0.000561,0.012599,2.530313,10.554527,0.037450,0.069928,2.959532,2.993373,2.959532,Leakages
4,40001,2.999304,0.111688,0.000558,0.012474,2.572693,10.724008,0.037238,0.069026,2.959532,2.995481,2.959532,L

In [57]:
LabelE  = LabelEncoder()
data['Flowrate'] = LabelE.fit_transform(data['Flowrate'])
data.head()

,N total,Mean,Standard Deviation,SE of mean,Variance,Skewness,Kurtosis,Coefficient of Variation,Mean absolute Deviation,Mode,Harmonic Mean,Median,Flowrate
0,40001,2.988890,0.112882,0.000564,0.012742,2.515207,10.459889,0.037767,0.070676,2.959532,2.984968,2.959532,0
1,40001,2.992975,0.110564,0.000553,0.012224,2.621947,10.901485,0.036941,0.068431,2.959532,2.989225,2.959532,1
2,40001,2.994869,0.111194,0.000556,0.012364,2.622178,10.918732,0.037128,0.068784,2.959532,2.991081,2.959532,0
3,40001,2.997241,0.112246,0.000561,0.012599,2.530313,10.554527,0.037450,0.069928,2.959532,2.993373,2.959532,1
4,40001,2.999304,0.111688,0.000558,0.012474,2.572693,10.724008,0.037238,0.069026,2.959532,2.995481,2.959532,0

In [58]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
trans = PolynomialFeatures()
X = trans.fit_transform(X)
X

array([[1.00000000e+00, 4.00010000e+04, 2.98889022e+00, ...,
        8.91003233e+00, 8.83410750e+00, 8.75882966e+00],
       [1.00000000e+00, 4.00010000e+04, 2.99297492e+00, ...,
        8.93546668e+00, 8.84670733e+00, 8.75882966e+00],
       [1.00000000e+00, 4.00010000e+04, 2.99486935e+00, ...,
        8.94656270e+00, 8.85219852e+00, 8.75882966e+00],
       ...,
       [1.00000000e+00, 4.00010000e+04, 3.16949005e+00, ...,
        9.75047013e+00, 9.93082915e+00, 1.01145244e+01],
       [1.00000000e+00, 4.00010000e+04, 3.16302279e+00, ...,
        9.70466400e+00, 9.90747497e+00, 1.01145244e+01],
       [1.00000000e+00, 4.00010000e+04, 3.16265050e+00, ...,
        9.69110180e+00, 9.90054974e+00, 1.01145244e+01]])

In [59]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [60]:
tree = DecisionTreeClassifier(criterion='gini')
tree.fit(x_train, y_train)
pred = tree.predict(x_test)
score = accuracy_score(y_test, pred)
score

0.42105263157894735

In [61]:
RanF = RandomForestClassifier(criterion='gini')
RanF.fit(x_train, y_train)
pred = RanF.predict(x_test)
score = accuracy_score(y_test, pred)
score

0.3684210526315789

In [62]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train, y_train)
pred = knn.predict(x_test)
accuracy_score(y_test,pred)

0.3684210526315789

In [63]:
from sklearn.datasets import load_iris
iris = load_iris()
data =pd.DataFrame(iris.data, columns=iris.feature_names)
data['target'] = iris.target
data.head(100)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,1
96,5.7,2.9,4.2,1.3,1
97,6.2,2.9,4.3,1.3,1
98,5.1,2.5,3.0,1.1,1
99,5.7,2.8,4.1,1.3,1